<div id="banner" class="row text-center px-4 py-2 mt-2">
  <div id="photo" class="col">
    <img src="static/energy.jpg" class="img-fluid img-thumbnail" />
  </div>
  <div id="photo" class="col">
    <img src="static/healthcare.jpg" class="img-fluid img-thumbnail" />
  </div>
  <div id="photo" class="col">
    <img src="static/technology.jpg" class="img-fluid img-thumbnail" />
  </div>
  <div id="photo" class="col">
    <img src="static/finance.jpg" class="img-fluid img-thumbnail" />
  </div>
</div>
